body {
    font-family: 'Stardos Stencil', sans-serif;
}


.car-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    /* soft shadow */
}

.loading-track {
    width: 200px;
    /* length of the track */
    height: 60px;
    border: 2px dashed #ccc;
    /* optional, shows the track */
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 20px auto;
    display: flex;
    align-items: center;
    background: #f9f9f9;
}

.loading-car {
    height: 40px;
    /* adjust car size */
    position: absolute;
    left: 0;
    animation: drive-sideways 2s linear infinite alternate;
}

@keyframes drive-sideways {
    0% {
        left: 0;
    }

    100% {
        left: 150px;
        /* track width minus car width */
    }
}


/* From Uiverse.io by Spacious74 */
.button {
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 16px;
    border: none;
    padding: 2px;
    background: radial-gradient(circle 80px at 80% -10%, #ffffff, #181b1b);
    position: relative;
}

/* .button::after {
    content: "";
    position: absolute;
    width: 65%;
    height: 60%;
    border-radius: 120px;
    top: 0;
    right: 0;
    box-shadow: 0 0 20px #ffffff38;
    z-index: -1;
} */

.inner {
    padding: 14px 25px;
    border-radius: 14px;
    color: #fff;
    z-index: 3;
    position: relative;
    background: radial-gradient(circle 80px at 80% -50%, #777777, #0f1111);
}

/* .inner::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 14px;
    background: radial-gradient(circle 60px at 0% 100%,
            #00e1ff1a,
            #0000ff11,
            transparent);
    position: absolute;
} */